* annex.backend=MD5E
**/.git* annex.largefiles=nothing
CHANGELOG.md annex.largefiles=nothing
README.md annex.largefiles=nothing
cpac_RBCv0/*.tsv annex.largefiles=nothing
cpac_RBCv0/*.tsv annex.largefiles=nothing
